@import './theme.scss';

:global(ul.svelteit-list) {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  li {
    border: 1px solid $light;
    margin-top: -1px;
    background-color: $white;
    padding: 12px;
    color: $dark;
  }
}
