$base-body-font-family: inherit;
$base-body-font-family-mono: inherit;
$base-body-font-size: 1rem;
$base-body-line-height: 1.5rem;

$base-heading-font-family: inherit;
$base-heading-font-weight: 700;
$base-heading-font-size: 16px;
$base-heading-line-height: 2rem;

$props-types-name-text: red;
$props-types-name-bg: #fff0f1;

$props-types-text: $dark;
$props-types-bg: $white;
$props-types-border: none;

$base-heading-h1-font-size: 36px;
$base-heading-h2-font-size: 30px;
$base-heading-h3-font-size: 24px;
$base-heading-h4-font-size: 20px;
$base-heading-h5-font-size: 18px;
$base-heading-h6-font-size: 16px;
