// BORDERS
$base-border-radius: 4px;

//TYPOGRAPHY
$base-font-weight-bold: bold;
$base-line-height: 1.8;
$base-font-size: 16px;

$base-font-size-h1: 26px;
$base-font-size-h2: 24px;
$base-font-size-h3: 22px;
$base-font-size-h4: 20px;
$base-font-size-h5: 18px;
$base-font-size-h6: 16px;

//SPACING
$base-box-padding: 10px;

// ANIMATIONS

$base-transition-speed: 0.2s;

// TABLES
$base-table-cell-padding: 10px;
